.toggle-checkbox {
  display: none;
}

.toggle-label {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-color: gray;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
  margin-top:10px;
}

.toggle-label i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
}

.toggle-label .fa-moon {
  display: none;
}

.toggle-checkbox:checked + .toggle-label .fa-sun {
  display: none;
}

.toggle-checkbox:checked + .toggle-label .fa-moon {
  display: block;
}
.toggle-checkbox:checked + .toggle-label {
    background-color: var(--primary-color)!important;
}
